body{
    font-family: 'Noto Sans TC',sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.expedu-icon{
    color:#495057;
    text-decoration:none;
}

.expedu-icon:hover{
    color:var(--bs-secondary);
}

:root{
    --bs-primary:#4a6c95;
    --bs-primary-rgb:74,108,149;
    --bs-secondary:#5fa4b5;
    --bs-secondary-rgb:95,164,181;
}

a{
    color:#1e4557;
    text-decoration:none;
}
a:hover{
    color:#0c54a1;
    text-decoration:none;
}

.social-icons .social-icon:hover{
    background-color:var(--bs-secondary);
}
.fa-ul{
    font-size: 1.1rem;
}


.dropdown-item:hover{
    background-color:var(--bs-secondary);
}
.ws{
    height:4rem;
}
.home{
    background: -webkit-image-set();
}
