body{
    font-family: 'Noto Sans TC',sans-serif;

}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.expedu-icon{
    color:#495057;
    text-decoration:none;
}

.expedu-icon:hover{
    color:var(--bs-secondary);
}

:root{
    --bs-primary:#4a6c95;
    --bs-primary-rgb:74,108,149;
    --bs-secondary:#5fa4b5;
    --bs-secondary-rgb:95,164,181;
}

a{
    color:#1e4557;
    text-decoration:none;
}
a:hover{
    color:#177be6;
    text-decoration:none;
}

.social-icons .social-icon:hover{
    background-color:var(--bs-secondary);
}
.fa-ul{
    font-size: 1.1rem;
}


.dropdown-item:hover{
    background-color:var(--bs-secondary);
}
.ws{
    height:4rem;
}
.card{
    margin-bottom: 2rem;
    margin-top: -17vw;
    margin-left:-6vw ;
    margin-right: -6vw;
}
.card-title{
    color:#ff9b19af;
    font-size: 8vw;
    margin-top: 5vw;
    text-align: center;
    flex-wrap: nowrap;
}

.card-text{
    font-size:3vw ;
    text-align: center;
    color:#010304;
    flex-wrap: nowrap;
    font-weight: bold;
}

.yy{
    padding-left:0px;

}
.it{
    font-size: 2vw;
    flex-wrap: wrap;
}
.img-fluid{
    width: 47vw;
    height: 50vw;
    vertical-align:text-top;
}
.accordion{
    width: 35vw;
    height: 30vw;
    overflow: auto;
}

.img-fluid-2{
    width: 60vw;
    height: 40vw;
    vertical-align: text-top;
}
.btn{
    background-color: #4a6c95;
    color:aliceblue;
}
.btn:hover{
    background-color: #9ab4cf;
    color:rgb(56, 59, 61);
}


